<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>luv2code Company Home Page - YooHoo - Silly Goose!! - NO SOUPT</title>
</head>
<body>
    <h2>luv2Code Company Home Page</h2>
    <hr>
    <p>
        Welcome to the luv2code company home page!
    </p>

    <hr>

    <!-- display username and role -->
    <p>
        User : <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s) : <span sec:authentication="principal.authorities"></span>
    </p>

    <hr>
    <div sec:authorize="hasRole('MANAGER')">
        <!-- /leaders for managers -->
        <p>
            <a th:href="@{/leaders}">Leadership Meeting</a>
            (Only for Manager peeps)
        </p>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <!-- /systems for admins -->
        <p>
        <a th:href="@{/systems}">Systems Meeting</a>
        (Only for Admin peeps)
        </p>
    </div>

    <!-- Add a logout button -->
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>

</body>
</html>